html, body{
    padding: 0px;
    margin: 0px;
    height: 100% !important;
}

/* .main{
    background-color: #53a2be;
}
.main2{
    background-color:#1d84b5;
} */

.ui.grid{
    min-height: 100%;
}

ul, li{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/bg1.jpg") !important;
    background-size: cover !important;
    background-position: bottom right !important;
}

.wrapper{
    color: white;
}